---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import Footer from "../components/footer.astro";
---

<Layout
    pageTitle="Inicio"
    ,
    pageDescription="Te presento mi porfolio personal de fotografía"
>
    <section
        class="bg-black h-screen w-screen text-center relative overflow-scroll md:overflow-hidden"
    >
        <div class="flex flex-col align-center">
            <header>
                <h1 class="text-white text-5xl md:text-7xl font-medium pt-28 md:pt-32">AitorGG</h1>
                <p class="text-slate-300 text-xs md:text-sm">
                    Cada Instante, una Historia; Cada Foto, una Emoción
                </p>
            </header>
            <main class="md:py-16">
                <div class="flex flex-col items-center md:flex-row justify-around">
                    <Card
                        ruta="assets/img/fotografia_1.webp" enlace="https://www.instagram.com/p/CvM75Vstij_/?img_index=1"
                    />
                    <Card
                        ruta="assets/img/fotografia_2.webp" enlace="https://www.instagram.com/p/Ca2G-JstDtr/?utm_source=ig_web_copy_link"
                    />
                    <Card
                        ruta="assets/img/fotografia_3.jpg" enlace="https://www.instagram.com/p/CQ6Ago4MBMz/?utm_source=ig_web_copy_link"
                    />
                </div>
            </main>
        </div>
    </section>
	<Footer/>
</Layout>
