---
interface Props {
    ruta: string;
}

const { ruta } = Astro.props;
---

<div class="w-80">
    <img class="aspect-ratio[300/450] h-full object-cover w-full rounded hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl hover:cursor-pointer" src={ruta} alt="Fotografia de ejemplo" />
</div>
