<div class="bg-[#020202]">
    <ul class="flex text-xl text-white font-bold justify-center pt-20 [&>li]:mx-4">
        <li>
            <a href="#">
                <img class="w-10" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="logo instagram">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="w-10" src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="logo X">
            </a>
        </li>
    </ul>
    <p class="text-white text-center text-xl py-10">Made with ❤️ by Kelvin Guerrero 2023 ©️®️</p>
</div>