<div class="bg-[#020202]">
    <ul class="flex text-xl text-white font-bold justify-center pt-6 md:pt-20 [&>li]:mx-4">
        <li class="transition-all hover:opacity-60">
            <a href="https://www.instagram.com/aitorgg.photos" target="_blank">
                <img class="w-6 md:w-10" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="logo instagram">
            </a>
        </li>
        <li class="transition-all hover:opacity-60">
            <a href="#">
                <img class="w-6 md:w-10" src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="logo X">
            </a>
        </li>
    </ul>
    <p class="text-white text-center text-md md:text-xl py-4 md:py-10 transition duration-500 ease-in-out hover:text-slate-500"><a href="https://portfolio.whoskelos.es/" target="_blank">Made with ❤️ by Kelvin Guerrero 2023 ©️®️</a></p>
</div>