<header class="">
    <nav class="bg-[#020202] py-3 fixed top-0 w-full z-40">
        <div class="flex items-center justify-between">
            <a href="/" class="mr-8">
                <img class="w-20 ml-8" src="https://cdn-icons-png.flaticon.com/512/5483/5483603.png" />
            </a>
            <ul class="flex items-center justify-center text-white font-bold text-sm uppercase mr-8">
                <li class="p-2"><a class="transition duration-500 ease-in-out hover:text-slate-600" href="/">Inicio</a></li>
                <li class="p-2"><a class="transition duration-500 ease-in-out hover:text-slate-600" href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>